// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  background-color: dimgray;
}

.navbar img {
 width: 10%;
 height: 10%;
 margin-left: 15px;
}

.login-or-signup {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 margin-right: 10px;
}

#login-link {
 color: white;
 text-decoration: none;
 font-weight: lighter;
}

#signup-link {
 background-color: orangered;
}

#signup-link-text {
 color: white;
 text-decoration: none;
 font-weight: lighter;
}

.login-or-signup span {
 border: 1px solid gray;
 margin: 10px;
 padding: 5px 10px;
 border-radius: 5px;
}

.login-or-signup p {
 color: gray;
}

.search-bar {
 width: 60%;
 display: flex;
 align-items: center;
}

.search-bar input {
 width: 100%;
 height: 25px;
 border-radius: 5px;
 font-size: 14px;
}

.submitForm {
 border: 1px solid black;
 width: 35%;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 50px;
 border-radius: 5px;
}

.submitForm ul:empty {
 display: none;
}

.submitForm h2 {
  margin-top: 100px;
}

.submitForm form {
 width: 80%;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 100px;
}

.submitForm form input {
 width: 90%;
 margin-top: 20px;
 margin-bottom: 20px;
 height: 20px;
 border-radius: 5px;
 border: 1px solid gray;
}

.submitForm ul {
  padding-left: 0px;
}

.submitForm li {
  list-style-type: none;
  color: red;
}

#form-submit-button {
 background-color: orangered;
 color: white;
 border-radius: 5px;
 height: 30px;
 border-color: orangered;
 cursor: pointer;
}

#logout-button {
 display: flex;
 align-self: center;
 margin-right: 20px;
}

#username {
 display: flex;
 align-self: center;
 color: white;
}
