// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.whitespace {
  position: fixed;
  top: 0;
  margin-left: 220px;
  margin-top: 100px;
  width: 900px;
  height: 500px;
  font-family: sans-serif;
}

.whitespace h1 {
  font-size: 96px;
  font-weight: 400;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 3;
  height: 50px;
}

.navbar img {
 margin-left: 15px;
 height: 50px;
 cursor: pointer;
}

.login-or-signup {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 margin-right: 10px;
}

#login-link {
 color: white;
 text-decoration: none;
 font-weight: lighter;
}

#signup-link {
 background-color: orangered;
}

#signup-link-text {
 color: white;
 text-decoration: none;
 font-weight: lighter;
}

.login-or-signup span {
 border: 1px solid gray;
 margin: 10px;
 padding: 3px 10px;
 border-radius: 5px;
}

.login-or-signup p {
 color: gray;
}

.search-bar {
 width: 50%;
 display: flex;
 align-items: center;
}

.fa-search {
  margin-left: -25px;
  color: gray;
}

.search-bar input {
 width: 100%;
 height: 25px;
 border-radius: 5px;
 font-size: 14px;
}

.submitForm {
 border: 1px solid black;
 width: 35%;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 100px;
 border-radius: 5px;
 position: relative;
 background-color: white;
}

.submitForm ul:empty {
 display: none;
}

.submitForm p:empty {
 display: none;
}

.submitForm h2 {
  margin-top: 100px;
}

.submitForm form {
 width: 80%;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 100px;
}

.submitForm form input {
 width: 90%;
 margin-top: 15px;
 margin-bottom: 15px;
 height: 20px;
 border-radius: 5px;
 border: 1px solid gray;
}

.submitForm form input[type="submit"] {
  margin-top: 40px;
}

.submitForm form input[type="file"] {
  display: none;
}

.submitForm label {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 12px;
  cursor: pointer;
}

.submitForm ul {
  padding-left: 0px;
}

.submitForm li {
  list-style-type: none;
  color: red;
  font-size: 14px;
}

.submitForm img {
  height: 200px;
}

.submitForm a {
  font-size: 12px;
  margin-top: 10px;
}

.form-submit-button {
 background-color: orangered;
 color: white;
 border-radius: 5px;
 height: 30px;
 border-color: orangered;
 cursor: pointer;
}

#logout-button {
 margin: 8px 10px;
 border-radius: 5px;
 color: white;
 background-color: orangered;
 font-weight: bolder;
 cursor: pointer;
}

#user-info {
 display: flex;
 flex-direction: row;
 color: white;
 border-right: 1px solid lightgray;
 border-left: 1px solid lightgray;
 padding: 0px 30px;
 font-weight: lighter;
 align-items: center;
}

#user-info img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-left: 0px;
  clip-path: circle(15px at center);
}

#user-info a {
  text-decoration: none;
  color: white;
}

#post-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  border-left: 1px solid lightgray;
  padding: 0px 30px;
  font-weight: lighter;
}

#athing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#playbar {
  position: fixed;
  height: 75px;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid black;
  background-color: whitesmoke;
  flex-direction: row;
  justify-content: space-between;
}

#playbar-controls {
  display: flex;
  flex-direction: row;
  width: 75%;
  align-self: center;
  justify-content: space-between;
}

#progress-bar {
  background-color: lightgray;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
}

#playbar-info {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-right: 20px;
}

#playbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  width: 15%;
}

#playbuttons a {
  margin: 15px;
}

#progress-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

#progress-info p {
  padding: 20px;
  width: 50px;
}

#time-elapsed {
  background-color: orangered;
  z-index: 2;
  height: 100%;
}

#playbar-info p {
  margin-bottom: 0px;
  font-size: 14px;
}

#playbar-info img {
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-right: 15px;
}

#profile:empty {
  display: none;
}
