// Place all the styles related to the api/Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show-page {
  display: flex;
  flex-direction: column;
}

.track-show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gray;
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 42px;
}

.track-show .fa-play {
  font-size: 3em;
  margin: 14px 23px;
}

.track-show .fa-pause {
  font-size: 2.5em;
  margin: 17px 20px;
}

#track-controller {
  display: flex;
  flex-direction: row;
}

#track-info {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  margin-top: 10px;
}

#track-info h2 {
  background-color: black;
  margin: 0px 5px;
  padding: 5px 10px;
  font-weight: lighter;
}

#track-info p {
  background-color: black;
  margin: 5px;
  padding: 5px 7px;
  font-weight: lighter;
}

#track-info a {
  text-decoration: none;
  color: white;
}

#waveform {
  width: 600px;
  height: 120px;
  margin: 20px;
}

.track-show img {
  height: 300px;
  margin: 10px;
}

.track-index {
  position: relative;
  margin-bottom: 100px;
}

.track-index li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.track-index-item {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
}

.track-index-item img {
  height: 100px;
}

.track-item-info a {
  text-decoration: none;
}

.track-item-info p {
  color: gray;
  font-size: 12px;
  margin: 0px;
}

#title-link {
  text-decoration: none;
  color: black
}

#play-button {
  margin: 20px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: orangered;
  color: white;
  width: 75px;
  height: 75px;
  justify-content: center;
}

#play-button:hover {
  opacity: 0.5;
}

.track-play-button {
  margin: 5px;
  border-radius: 50%;
  background-color: orangered;
  color: white;
  width: 30px;
  height: 30px;
  justify-content: center;
}

.track-play-button:hover {
  opacity: 0.5;
}

.edit-dropdown {
  float: right;
  display: flex;
  flex-direction: column;
  width: 75px;
  margin: 15px;
  border: 1px solid gray;
}

.edit-dropdown a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid lightgray;
  font-size: 11px;
  width: auto;
}

.edit-dropdown button {
  border: none;
  padding: 10px;
  background-color: white;
  cursor: pointer;
}

.track-play-button .fa-play {
  font-size: 1.2em;
  margin: 6px 9px;
}

.track-play-button .fa-pause {
  font-size: 1.1em;
  margin: 7px 7px;
}

.playbar-button .fa-play {
  font-size: 2em;
}

.playbar-button .fa-step-forward {
  font-size: 1.5em;
}

.playbar-button .fa-step-backward {
  font-size: 1.5em;
}

.playbar-button .fa-pause {
  font-size: 1.6em;
}

.search-results {
  margin-top: 75px;
  margin-bottom: -20px;
  margin-left: 30px;
  border-bottom: 1px solid lightgray;
}

.search-results:empty {
  margin-bottom: 0px;
  border-bottom: none;
}

.comments {
  margin-left: 20px;
}

.comment {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
  width: 50%;
}

.comment img {
  width: 60px;
  height: 60px;
  clip-path: circle(25px at center);
}

.comment-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}

.comment-info p {
  margin: 0px;
}

#comment-poster {
  color: gray;
  font-size: 14px;
}

.comments-header {
  margin-left: 30px;
  margin-top: 30px;
  font-weight: lighter;
}

#show-extras {
  background-color: white;
  margin-left: 13px;
  margin-right: 13px;
  padding-bottom: 150px;
}

.comment-box {
  background-color: whitesmoke;
  width: 60%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
}

.comment-box img {
  height: 40px;
  width: 40px;
}

.comment-box form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.comment-box input {
  margin: 7px;
  width: 100%;
}

#comment-delete {
  align-self: flex-end;
  height: 22px;
  opacity: 0;
}

#comment-delete:hover {
  opacity: 1;
  display: inherit;
  cursor: pointer;
}

.left-side {
  display: flex;
  flex-direction: row;
}

.right-side {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.right-side p {
  color: gray;
  font-size: 12px;
  margin: 0px;
  align-self: flex-end;
}

.next-button {
  align-self: center;
  opacity: 0;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  background-color: silver;
}

.next-button:hover {
  opacity: 1;
  cursor: pointer;
}

#index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

#tracklist {
  position: fixed;
  margin-top: 85px;
  width: 30%;
  right: 0;
}

.tracklist-item {
  text-decoration: none;
  color: inherit;
}

#capricorn {
  margin-top: 5px;
}

#pisces {
  margin-top: 12px;
}

.fa-undo {
  margin-left: 20px;
}

.remove-from-tracklist {
  margin-left: 10px;
  opacity: 0;
}

.remove-from-tracklist:hover {
  opacity: 1;
}

.like-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 25px;
  width: 50px;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}

.like-button .fa-heart {
  margin-right: 5px;
}

.like-count {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50px;
  align-items: center;
  margin-right: 10px;
}
