// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
  margin-top: 50px;
  width: 83%;
}

.user-info img {
  height: 300px;
  clip-path: circle(100px at center);
  float: right;
  margin: 0px 20px;
}

.user-info a {
  align-self: flex-start;
  width: 40px;
  height: 20px;
  margin-right: -50px;
  opacity: 0;
  border-radius: 0px;
  background-color: white;
  font-size: 9px;
  text-decoration: none;
  padding: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  border: 1px solid gray;
}

.user-info a:hover {
  opacity: 1;
}

.user-info {
  display: flex;
  flex-direction: row;
  background-color: peru;
}

.user-info h2 {
  margin-top: 40px;
  margin-left: -20px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  align-self: flex-start;
  font-weight: lighter;
}

.user-tracks {
  margin: 20px;
}

.user-track-index {
  margin: 0px -30px;
  padding: 0px;
}

.user-track-index li {
  list-style-type: none;
}

#edit-user {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
