/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar {
   display: flex;
   flex-direction: row;
   position: relative;
   justify-content: space-between;
   background-color: dimgray;
 }

.navbar img {
  width: 10%;
  height: 10%;
  margin-left: 15px;
}

.login-or-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

#login-link {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: lighter;
}

#signup-link {
  background-color: orangered;
}

#signup-link-text {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: lighter;
}

.login-or-signup span {
  border: 1px solid gray;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.login-or-signup p {
  color: gray;
  font-family: sans-serif;
}

.search-bar {
  width: 60%;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 100%;
  height: 25px;
  border-radius: 5px;
}

.submitForm {
  border: 1px solid black;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border-radius: 5px;
}

.submitForm ul:empty {
  display: none;
}

.submitForm form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitForm form input {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid gray;
}

#form-submit-button {
  background-color: orangered;
  color: white;
  border-radius: 5px;
  height: 30px;
  border-color: orangered;
}

#logout-button {
  display: flex;
  align-self: center;
  margin-right: 20px;
}

#username {
  display: flex;
  align-self: center;
  color: white;
  font-family: sans-serif;
}
